*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
    text-align: center;
}
body{
    display: flex;
    place-content: center;
    background-color: #000;
}
main{
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-areas: 
     "one one one one"
     "two two two three"
     "two two two three"
     "two two two three"
     "five five five six"
     "four four four four"
    ;
}
img{
    width: 200px;
    height: 200px;
}
ul{
    list-style: none;
    display: flex;
    place-content: center;
    flex-direction: column;
}
div{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.sec1{
    grid-area: one;
    background: linear-gradient(0deg,yellow,red);
}
.sec2{
    grid-area: two;
    background:  linear-gradient(360deg, red, yellow);
}
.sec3{
    grid-area: three;
    background-color: white;
}
.sec4{
    grid-area: four;
    background:  linear-gradient(yellow, red);
}
.sec5{
    grid-area: five;
    background:  linear-gradient(360deg, yellow, red);
}
.sec6{
    grid-area: six;
    background:  linear-gradient(360deg, yellow, red);
}